@import "https://use.typekit.net/wdu6zyu.css";
@import "https://use.typekit.net/wdu6zyu.css";

html {
  height: 100%;
  background-color: #EDD7DF;
  font-family: fira-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2em;
}

body {
  height: inherit;
  width: 100%;
  background-color: #EDD7DF;
}

#root {
  height: 100%;
  width: 100%;
  
  background-image: url('./img/waves.png')
}

.App {
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
  height: 100%;
  width: 100%;
  position: fixed;
  align-content: center;
  background-image: url('/img/waves.png');
  padding-top: 5em;
  overflow: scroll
}

.App::-webkit-scrollbar {
  width: 12px;
}

.App::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 44, 74, 0.37); 
  border-radius: 10px;
}

.App::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #12003D;
  background: #12003D;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Navigation Styles*/
.mynav{
  padding:.25em;
  margin-bottom: 1rem;
  top:0;
  left:0;
  width:100%;
  background: #12003D;
  color: #1DB0B8;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  display: inline-flex;
  justify-content: space-between;
  margin-top: 0;
  position: fixed;
}

.navbar-nav{
  float:right
}

.mynav > .container {
  margin: 0;
  width: 100%
}



.logo{
  margin-left: .25em;
  margin-right: 1em;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: left;
  cursor: pointer;
  /*
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: 800;
  font-style: italic;
  */
  font-family: fira-sans, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2em;
  text-decoration: none;
}

.mynav-dropdown, .mynav-link{
  margin-top: .75em;
}

.nav{
  font-size: 1.5em;
}

a:focus, a:hover {
  text-decoration: none;
  color: #0DFFEE;
  text-shadow: 0px 0px 20px rgba(13, 255, 238, .5);
}

#basic-nav-dropdown{
  background-color: #12003D;
}

.dropdown-menu{
  color: #1DB0B8;
  background: #12003D
}

.dropdown-menu > li > a,  {
  color: #1DB0B8;
  text-decoration: none;
}

.dropdown-menu > li > a:hover{
  background-color: rgba(13, 255, 238, 0.1);
}

.logo-text{
  color:#1DB0B8;
}

.logo-text:visited, .logo-text:link, .logo-text:focus, .logo-text:active{
  color:#1DB0B8;
  text-decoration: none
}

.logo-text:hover {
  color: #0DFFEE;
  text-shadow: 0px 0px 20px rgba(13, 255, 238, .5);
}

.logo>h1 {
  margin: .25em;
}

a{
  text-decoration: none;
  color:#1DB0B8;
}

.navbar-inverse .navbar-nav > li > a,.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #1DB0B8;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color:  #1DB0B8;
  background-color: #080808;
}

#basic-nav-dropdown:hover {
  color: #0DFFEE;
  text-shadow: 0px 0px 20px rgba(13, 255, 238, .5);
}

.main-container{
  margin: auto;
  background:  #1DB0B8;
  display: flex;
  width: 70em;
  height: 45em;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin-top: 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
  border-radius: 10px
}


.home-card{
  display: flex;
  flex-wrap: wrap;
  background: #12003D;
  height: 20em;
  width: 20em;
  margin: 1em;
  flex-shrink: 0;
  flex-basis: auto;
  border-radius: 10px;
}

.card-content > img{
  width: 100%;
  height: 100%;
}

.card-content > h1{
  color: #1DB0B8;
  margin: 0;
}

.card-content{
  text-align: center;
  color: #EDD7DF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggle > .icon-bar{
  background-color: #1DB0B8;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #1DB0B8;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-toggle{
  background-color: transparent
}

.card-grid{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;
  margin-top: 2rem;
  padding: 0;
  justify-content: space-evenly;
}

.project-card-right{
  background-color: #12003D;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #EDD7DF;
  height: 20em;
  width: 50em;
  border-radius: 10px;
  flex-direction: column;
  margin: 1em;
  justify-content: space-between;
}

.proj-card-content{
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.project-text > ul{
  list-style-type: none;
  margin-block-start: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

.project-image{
  min-width: 10em;
}

.project-image img{
  border-radius: 10px 0px 0px 10px;
  display: block;
  height: 20em;
  width: auto;
}

.project-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  font-size: 1.2em;
}

.project-text > h1{
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
}

.project-text > ul > li {
  margin-top: 1em;
}

.btns{
  display: inline-flex;
}

.btn-outline {
  border-radius: 50px;
  width: 180px;
  height: 30px;
  font-size: 1.2em;
  text-align: center;
  margin: .5em;
  text-align: center;
}

.btn-outline{
  box-shadow: 0 0 0 2pt #1DB0B8;
  color: #1DB0B8;
  align-items: center;
}

div.btn-outline:hover{
  background: #1DB0B8;
  color: #12003D;
  cursor: pointer;
}

.gh-btn, .proj-btn{
  align-items: center;
  align-content: center;
}

.res{
  margin-top: 2rem;
  align-content: center;
  padding: 1em;
  border-radius: 10px;
  height: 100%
}

@media (max-width: 768px){
  .main-container{
    width:inherit;
    height:inherit;
  }
}